/*  your css code here. If applicable */
img{
	width:100px;
	padding:5px
	
}header{
	width:100%;
	background:rgb(1,30,41);
	color:white;
	padding:20px;
	display:flex;
	text-align: center;
	justify-content:center;

	
}.container{
	display:flex;
	flex-direction: space-evenly;
	width:150%;
	margin:20px;
	
padding:20px;
	
	
}
.pictorial-news-section{
	display:flex;
	flex-flow:column;
}
.m{
	width:30%;
text-align:center;
}